/* Ejercicio 4 - Definición de estilos por medio de clases */

.subrayado {
  color: #00aa00;
  text-decoration: underline;
}

.tachado {
 color: #00aa00;
  text-decoration: line-through;
} 
